# Base de Datos SQLite
DATABASE_URL="file:./dev.db"

# Secreto JWT para autenticación administrativa
JWT_SECRET="reemplazar_con_clave_secreta_segura"

# Dominio público para SEO y Canónigos
NEXT_PUBLIC_SITE_URL="https://cmidigital.com.ar"

# Teléfono de WhatsApp configurado por defecto
NEXT_PUBLIC_WHATSAPP_NUMBER="5493437123456"
